<h1>Edit Album</h1>

<%= form_for @album do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit "Update" %>
<% end %>

<%= link_to "Delete Album", @album, method: :delete %>
