
  <nav>
    <h3> <%=link_to "Add Album", new_album_path %> | <%= link_to "View Users", users_path %> </h3>
  </nav>

<% @albums.each do |album| %>

  <div class="albums">
    <h2> <%= link_to album.title, album_path(album) %> </h2>
         <%= link_to album_path(album) do %>
          <div class="album-image" style="background: url(<%= album.img_url %>);background-size:cover; background-position: center;">
          </div>
         <% end %>
         <br>
         <h6> Created by <%= link_to album.user.email, users_path%> at <time> <%= album.created_at.strftime("%d-%b-%y")%></time> </h6>
  </div>

    <% end %>

<%# link_to "current_user_show", current_user %>
