<h1> <%= @album.title %></h1>
<time> Updated at <%= @album.updated_at %></time>
<h2> <%= link_to "< back to Albums", albums_path %> </h2>

<h2> <%= "Display Photos Here" %></h2>

<h2><%= link_to "Edit Album", edit_album_path(@album) %> </h2>
