<h2>Edit Photo</h2>

<%= form_for [@album, @photo] do |f| %>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :settings %>
  <%= f.text_area :settings %>

  <%= f.submit "Edit" %>
<% end %>

<h2> <%= link_to "Delete Photo",[@album,@photo], method: :delete %> </h2>
