<h2>Add Photo</h2>

<%= form_for [@album, @photo] do |f| %>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Add" %>
<% end %>

<h2> <%= link_to "< back to Album", album_path(@album) %> </h2>
