<div class="photo_show">
  <img src="<%= @photo.img_url %>" />
 </div>

 <time> Added <%= @photo.updated_at %> </time>

<p> <%= @photo.description %> </p>

<h2> <%= link_to "Edit Photo", edit_album_photo_path(@album,@photo) %> </h2>
<h2> <%= link_to "< back to Album", album_path(@album) %> </h2>

<div class='comments'>
<h3>Comments <%= link_to "(+)", new_album_photo_comment_path(@album, @photo) %> </h3>
<% @photo.comments.each do |comment| %>
  <div>

    <time>Updated <%= comment.updated_at %></time>
    <p>
      <%= comment.body %>
    </p>
    <%= link_to "Edit", edit_album_photo_comment_path(@album, @photo, comment) %> |
    <%= link_to "Delete", album_photo_comment_path(@album, @photo, comment), method: :delete %>
  </div>
<% end %>
</div>
