<div class="photo_show">
  <img src="<%= @photo.img_url %>" />
 </div>

 <time> Added <%= @photo.updated_at %> </time>

<p> <%= @photo.description %> </p>

<h2> <%= link_to "Edit Photo", edit_album_photo_path(@album,@photo) %> </h2>
<h2> <%= link_to "< back to Album", album_path(@album) %> </h2>
