<div class="photo-wrap">

  <div class="photo_show">
    <img src="<%= @photo.img_url %>" />
    <h6> "<%= @photo.description %>" | <time> Added <%= @photo.updated_at %> </time> </h6>
   </div>

   <div class="photo-settings">
      <h3>Photo Settings</h3>
       <p> <%= @photo.settings %> </p>
    </div>


  </div>

<% if @album.user == current_user %>
<h2> <%= link_to "Edit Photo", edit_album_photo_path(@album,@photo) %> </h2>
<% end %>

<h2> <%= link_to "< back to Album", album_path(@album) %> </h2>

<div class='comments'>
<h3>Comments <%= link_to "(+)", new_album_photo_comment_path(@album, @photo) %> </h3>
<% @photo.comments.each do |comment| %>
  <div>
    <p>
     <%= comment.body %>
    </p>
    <%= link_to "Edit", edit_album_photo_comment_path(@album, @photo, comment) %> |
    <%= link_to "Delete", album_photo_comment_path(@album, @photo, comment), method: :delete %>
      <h6> <time>Updated <%= comment.updated_at %></time> </h6>
  </div>
<% end %>
</div>
